    <!-- Common Banner Area -->
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>Flight booking</h2>
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li>
                            <span><i class="fas fa-circle"></i></span><a href="dashboard.html">
                                Customer
                                dashboard
                            </a>
                        </li>
                        <li><span><i class="fas fa-circle"></i></span>Flight booking</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Dashboard Area -->
<section id="dashboard_main_arae" class="section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="dashboard_common_table">
                    <h3>Flight booking</h3>
                    <div class="table-responsive-lg table_common_area">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sl no.</th>
                                    <th>Departure</th>
                                    <th>Arrival</th>
                                    <th>Ticket Class</th>
                                    <th>No of tickets</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int serialNumber = 1;
                                }
                                @foreach (var booking in ViewBag.bookings)
                                {
                                    <tr>
                                        <td>@serialNumber</td>
                                        <td>@(booking.Schedule.FromCity.CityName)<br />
                                            <span>@booking.Schedule.DepartureTime</span>
                                        </td>
                                        <td>@(booking.Schedule.ToCity.CityName)<br />
                                            <span>@booking.Schedule.ArrivalTime</span>
                                        </td>
                                        <td>$@booking.TicketClass per ticket</td>
                                        <td>@booking.NoOfTickets</td>
                                    </tr>

                                    serialNumber++;
                                }

                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination_area">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


